MSSQL_SA_PASSWORD=LoupGarou@2024!
# terraform.tfvars
# subscription_id     = "bc2cca2d-aebd-46b2-99c5-2fa03d8a6713"
# location            = "swedencentral"
# resource_group_name = "loupgarou-rg"
# acr_name            = "loupgarouacr"
# aks_name            = "loupgarou-aks"
# sql_server_name     = "loupgarou-sql"
# sql_admin_login     = "loupgarouadmin"
# sql_admin_password  = "LoupGarou@2024!"
# sql_database_name   = "LoupGarou"